/* 
.secondBox {
  position: relative;
  height: 30px;
  overflow: hidden;

}

.footer__bg1 {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color:white;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  transform-origin:  top  left;
  transform: scale(-1);

}
*/


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 300px;
    display: block;
    float: right;
    border-top: 5px solid black;
    background-color: gray;
}
ul {
    list-style-type: none;
    float: left;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}
img {
    margin: 25px;
    height: 75px;
}
.boxesContainer {
    margin-top: -200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.slanted {
  height: 350px;
  -webkit-transform: skewy(-6deg);
  transform: skewy(-6deg);
/*  border: 2px solid yellow;*/
  background: linear-gradient(to bottom right, white, gray);
  margin-top: -45px;
}
.section{
    background-color: white;
}
.content {
    -webkit-transform: skewy(6deg);
  transform: skewy(6deg);
}
