/* 
.secondBox {
  position: relative;
  height: 30px;
  overflow: hidden;

}

.footer__bg1 {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color:white;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  transform-origin:  top  left;
  transform: scale(-1);

}
*/


footer {
   /* position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
    height: 300px;
    display: block;
    float: right;
    border-top: 5px solid black;
    font-size: 30px;
    font-family: "Arvo", Times, serif;
    /*background-color: gray;*/
}

.left .right {
    list-style-type: none;
    float: left;
    /*margin-top: 15px;*/
    color: black;
    margin: 15px;
}

img {
    margin: 25px;
    height: 75px;
}
.boxesContainer {
   /* margin-top: -200px;*/
 /*   position: relative;*/
    bottom: 0;
    width: 100%;
    margin: 0px;
}
.bkg {
  background-image: url(../../images/footer15.png);

}
.logoFooter {
  height: 100px;
}
.content {
  display: block;
}
/*.slanted {
  height: 250px;
  -webkit-transform: skewy(-6deg);
  transform: skewy(-6deg);*/
/*  border: 2px solid yellow;*/
/*  background: linear-gradient(to bottom right, white, gray);
  margin-top: -45px;
  margin-bottom: -70px;
}*/
/*.section{
    background-color: white;
}
.content {
  -webkit-transform: skewy(6deg);
  transform: skewy(6deg);
}*/
