.card1 {
	width: 300px;
	text-align: center;
}

.card-img-top{
  width: 300px;
  height: auto;	
}

/*.bgcard{
	background-color: gray;
}*/

.img-fluid {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	object-fit: contain;
	display: inline-block;
}
.image-box {
    object-fit: contain;
    height: 300px;
}
.container {
	overflow: hidden;
}
.card {
	width: 300px;
	margin: 10px;
}

.fxx {
	height: 171px;
	width: 295px;
}

/*//new cards*/
.containerOutside{
	width: 75%;
	margin: auto;
}
.containerInside {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.containerInside:hover .overlay {
  height: 100%;
}

.instructions {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}