.three {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAxhYMTJ49xqxl8ULMtr-RcArw_oTcqcDlvV3qNwZetLF4VKji");
	background-repeat: no-repeat; 
	background-size: cover;
	color: #800000;
	padding: 80px;
}

.four {
	background-image: url("https://img15.androidappsapk.co/300/e/7/9/com.facedetect.footabale.game.facedetection.lockscreen.png");
	background-repeat: no-repeat; 
	background-size: cover;
	color: #800000;
	padding: 80px;
}
