 .front {
 	height: 100%;
 	overflow: hidden;
 }

	.bgimage{
		background-image: url("../../images/b1.png");
		background-size: cover;
		width: 100%;
		height: 100%; 
		top: 0;
		margin-bottom: 0;
		/*height: 100%;*/
		/*overflow-x: hidden;
		overflow-y: hidden;*/
		background-attachment: fixed;
		padding: 400px;
		
		/*overflow-wrap: break-word;*/

	}

	/*.textjumbo{
		width: 300px;
		margin-left: 300px;
		margin-bottom: 250px;
		border-radius: 50px;
		position: fixed;
		
	}*/

	/*.size1{ width: 200px; }*/

	.googleButton{
		/*top: 0;*/
		
		margin-left: -160px;
		background-color: red;
		color: white;
		font-size: 30px;
		padding: 15px;
		border-radius:15%;
		margin-top: 90px;
		float: left;	

	} 

	#guestUser{
		margin-left: -10px;

		/*width: 100px;*/
		/*font-size: 20px;*/
		text-decoration: none;
		width: 150px;
		height: 150px;
		float: right;
		position: absolute;
		margin-top: 60px;

		


	}

	#guestUser:hover{

		width: 200px;
		height: 200px;
	}

	.googleButton:hover{

		width: 100px;
		height: 100px;
	}

	.ss{
		top: 20px;
		background-attachment: fixed;
		position: absolute;
		/*overflow-y: hidden;*/

	}

	

	


	