 .navbar li {
  display: inline-block;
  text-align: center;
  float: right;
  padding-top: 15px;
}


/*.itemRight {
  width: 10%;
}*/

.navbar {
  background: white;
  /*background: #212F3D;*/
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  /*margin-top: -20px;*/
  height: 100px;
  width: 100%;
  position: fixed ; 
  margin-top: 0;
  z-index: 4;
  overflow: hidden;
  /*opacity: 0.9;*/
  }

.navbar-brand{
  width: 350px;
  height: 110px;
  padding-top: 0px;
  margin-top: 0px;
}

li {
  color: black;
  padding: 10px;
}
.ulNavbar{
  padding-top: 30px;
 }

body {
  font-size: 20px;
   font-family: "Arvo", Times, serif;
}
a {
  font-size: 19px;
}

 a:hover {
  text-decoration: none;
  font-size: 20px;
  color: white;
  /*background-color: teal;*/
  text-decoration: all;
  padding: 10px;
  cursor: pointer;

}

.navbar > .row > .nav > li > a:hover {

background-color: #666666;
}

